* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body, html {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin: 0;
}

/* Styles */

.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;

	.gameSummary {
		display: flex;
		width: 90%;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin: 30px 0;
		color: #666;

		div {
			text-align: center;;
			color: #000;
		}
	}

	.hangman-img {
		width: 250px;
		height: 250px;
	}

	.letters {
		width: 70%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		color: #000;

		&__key {
			margin: 5px;
			font-size: 1.2rem;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border: 1px solid #000;
			border-radius: 8px;
			transition: all .3s ease-in-out;
			background-color: #fff;
			cursor: pointer;

			&:hover {
				background-color: #f1f1f1;
			}

			&--correct, &--incorrect {
				margin: 5px;
				font-size: 1.2rem;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				border: 1px solid #000;
				border-radius: 8px;
				transition: all .3s ease-in-out;
			}

			&--disabled {
				cursor: default;
				color: #ccc;
			}

			&--correct {
				background-color: green;
				color: #fff;
			}

			&--incorrect {
				background-color: red;
				color: #fff;
			}
		}
	}

	.textArea {
		font-size: 1.9rem;
		margin: 20px 0 50px;
	}
}

.game-win, .game-loss {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);

	.game__image--loss {
		display: block;
		margin: 20px auto;
		width: 80%;
		height: 50%;
	}

	.game__image--win {
		display: block;
		margin: 20px auto;
		width: 80%;
		height: 50%;
	}
}

.game__info {
	margin: 0 auto;
	text-align: center;
	color: #fff;
	max-width: 80%;
}

.game__passwordInfo, .game__lives {
	color: #fff;
	text-align: center;

	.game__correctPassword, .game__currentLives {
		font-weight: 700;
		color: #0077ff;
	}
}

.game__button {
	display: block;
	margin: 0 auto;
	color: #fff;
	background-color: #0077ff;
	border: none;
	border-radius: 5px;
	padding: 10px 30px;
	font-size: 1.1em;
	font-weight: 700;
	cursor: pointer;
	transition: all .3s linear;

	&:hover {
		background-color: #0069e0;
	}
}

.hidden {
	display: none;
}

@media screen and (max-width: 900px) {
	.wrapper {
		.letters__key {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 1.1em;
		}

		.hangman-img {
			width: 200px;
			height: 200px;
		}
	}

	.game-win, .game-loss {
		.game__image--loss, .game__image--win {
			margin: 5px auto;
		}
	}
}